{% extends 'hazaDashboardBundle:Layout:base.html.twig' %}

{% block content %}
    {% for bookmark in bookmarks %}
        <div class="bookmark-item">
          <a href="{{ bookmark.url }}" ><img src="{{ asset(['uploads/documents/', bookmark.path] | join) | imagine_filter('my_thumb') }}" class="large"/></a>
            <span>{{ bookmark.title }}</span>
        </div>
    {% else %}
        <p>There are no entries right now.</p>
    {% endfor %}

    <div class="add"><a href="{{ path('haza_dashboard_adminAdd') }}">Add</a>
    </div>
{% endblock %}

